<h2 class="screen-align">create</h2>
<form>
    <div id="template-ipuc" class="form-group">
        <label id="template-ilxl" class="label">Name</label>
        <input id="template-iiwl" class="input form-control" placeholder="Type here your name" [(ngModel)]="mano.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ilz6" class="form-group">
        <label id="template-iuvq" class="label">Email</label>
        <input id="template-ittk" class="input form-control" placeholder="Type here your email" [(ngModel)]="mano.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-idkfe" class="form-group">
        <button type="submit" id="template-itcol" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
