<h2 class="screen-align">create</h2>
<form>
    <div id="template-i77n" class="form-group">
        <label id="template-iv8f" class="label">Name</label>
        <input id="template-iecj" class="input form-control" placeholder="Type here your name" [(ngModel)]="school.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ieo4" class="form-group">
        <label id="template-ibtk" class="label">Email</label>
        <input id="template-ivfc" class="input form-control" placeholder="Type here your email" [(ngModel)]="school.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i9qsp" class="form-group">
        <button type="submit" id="template-invr2" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
