<h2 class="screen-align">create</h2>
<form>
    <div id="template-it1k" class="form-group">
        <label id="template-ic2l" class="label">Name</label>
        <input id="template-itbj" class="input form-control" placeholder="Type here your name" [(ngModel)]="school.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i9uf" class="form-group">
        <label id="template-ip0v" class="label">Email</label>
        <input id="template-iwq3" class="input form-control" placeholder="Type here your email" [(ngModel)]="school.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-irufq" class="form-group">
        <button type="submit" id="template-iqjqn" (click)="GpCreate()" class="button btn btn-primary">GO</button>&nbsp;&nbsp;
    </div>

</form>
