<h2 class="screen-align">create</h2>
<form>
    <div id="template-is9i" class="form-group">
        <label id="template-i7gn" class="label">Name</label>
        <input id="template-i3vz" class="input form-control" placeholder="Type here your name" [(ngModel)]="school.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ibxn" class="form-group">
        <label id="template-iypk" class="label">Email</label>
        <input id="template-ijyx" class="input form-control" placeholder="Type here your email" [(ngModel)]="school.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iidn4" class="form-group">
        <button type="submit" id="template-ibr5k" (click)="GpCreate()" class="button btn btn-primary">Create</button>&nbsp;&nbsp;
    </div>

</form>
