<h2 class="screen-align">create</h2>
<form>
    <div id="template-ixtk" class="form-group">
        <label id="template-iuls" class="label">Name</label>
        <input id="template-i19b" class="input form-control" placeholder="Type here your name" [(ngModel)]="students.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iexm" class="form-group">
        <label id="template-i4jj" class="label">Email</label>
        <input id="template-iid5" class="input form-control" placeholder="Type here your email" [(ngModel)]="students.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iwrz8" class="form-group">
        <button type="submit" id="template-ipj69" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
