<h2 class="screen-align">create</h2>
<form>
    <div id="template-i00p" class="form-group">
        <label id="template-iwqh" class="label">Name</label>
        <input id="template-isch" class="input form-control" placeholder="Type here your name" [(ngModel)]="mano.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iqe5" class="form-group">
        <label id="template-i6gl" class="label">Email</label>
        <input id="template-i12e" class="input form-control" placeholder="Type here your email" [(ngModel)]="mano.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-icxdm" class="form-group">
        <button type="submit" id="template-i3uyh" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
