<h2 class="screen-align">create</h2>
<form>
    <div id="template-ia5i" class="form-group">
        <label id="template-i8az" class="label">Name</label>
        <input id="template-i88k" class="input form-control" placeholder="Type here your name" [(ngModel)]="students.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i8z5" class="form-group">
        <label id="template-i3gh" class="label">Email</label>
        <input id="template-iw3j" class="input form-control" placeholder="Type here your email" [(ngModel)]="students.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i4rha" class="form-group">
        <button type="submit" id="template-i0yjq" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
