<h2 class="screen-align">create</h2>
<form>
    <div id="template-isu4" class="form-group">
        <label id="template-ivji" class="label">Name</label>
        <input id="template-iclh" class="input form-control" placeholder="Type here your name" [(ngModel)]="staff.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i84h" class="form-group">
        <label id="template-ip6y" class="label">Email</label>
        <input id="template-i6em" class="input form-control" placeholder="Type here your email" [(ngModel)]="staff.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iujyg" class="form-group">
        <button type="submit" id="template-i49kj" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
