<footer id="footer">
    <div id="template-idpjl" class="footer-newsletter">
        <div id="template-i0iu4" class="container">
            <div id="template-iktcq" class="row justify-content-center">
                <div id="template-ivthi" class="col-lg-6">
                    <h4 id="template-i32s7">Search our knowledge library</h4>
                    <form action="" method="post" id="template-inibfu"><input type="email" name="email"
                            id="template-ikuzaa" /><input type="submit" value="Search" id="template-iuxg8e" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="template-i9vrul" class="footer-top">
        <div id="template-ifm48y" class="container">
            <div id="template-ipjzh1" class="row">
                <div id="template-iy5win" class="col-lg-3 col-md-6 footer-links">
                    <h4 id="template-igi6mk">About Us</h4>
                    <ul id="template-icwsfe">
                        <li id="template-ilg629"><i id="template-ieeysl" class="bx bx-chevron-right"></i> <a
                                id="template-iyqkdu">Contact HP</a></li>
                        <li id="template-i3ihyo"><i id="template-iibt1s" class="bx bx-chevron-right"></i> <a
                                id="template-iofc65">Careers</a></li>
                        <li id="template-ijlbqj"><i id="template-iluqt3" class="bx bx-chevron-right"></i> <a
                                id="template-i0w806">Investor Relations</a></li>
                        <li id="template-ih8362"><i id="template-it713i" class="bx bx-chevron-right"></i> <a
                                id="template-inq026">Sustainable Impact</a></li>
                        <li id="template-i10aq3"><i id="template-i4k1j9" class="bx bx-chevron-right"></i> <a
                                id="template-igxeog">Press Center</a></li>
                        <li id="template-izjc5l"><i id="template-iy4zkp" class="bx bx-chevron-right"></i> <a
                                id="template-iglov6">The Garage</a></li>
                    </ul>
                </div>
                <div id="template-iumcbg" class="col-lg-3 col-md-6 footer-links">
                    <h4 id="template-iz6f62">Ways to buy</h4>
                    <ul id="template-ixtimv">
                        <li id="template-i0z7ac"><i id="template-idlk8z" class="bx bx-chevron-right"></i> <a
                                id="template-iwqll8">Shop online</a></li>
                        <li id="template-iu6ecu"><i id="template-ie4i61" class="bx bx-chevron-right"></i> <a
                                id="template-iky5zs">Call an HP rep</a></li>
                        <li id="template-i03c0b"><i id="template-i2x0on" class="bx bx-chevron-right"></i> <a
                                id="template-i93bga">Find a reseller</a></li>
                        <li id="template-inr8t1"><i id="template-ib854r" class="bx bx-chevron-right"></i> <a
                                id="template-ijuulh">Enterprise store</a></li>
                        <li id="template-iupkdw"><i id="template-i0vg0r" class="bx bx-chevron-right"></i> <a
                                id="template-i2kume">Public sector purchasing</a></li>
                    </ul>
                </div>
                <div id="template-iahbyq" class="col-lg-3 col-md-6 footer-links">
                    <h4 id="template-idtl2m">Support</h4>
                    <ul id="template-iicrxh">
                        <li id="template-i8hpk2"><i id="template-iysilh" class="bx bx-chevron-right"></i> <a
                                id="template-ikulgk">Download drivers</a></li>
                        <li id="template-iw1r4t"><i id="template-imaq3r" class="bx bx-chevron-right"></i> <a
                                id="template-i5dk25">Support & troubleshooting</a></li>
                        <li id="template-iuafng"><i id="template-iqfl78" class="bx bx-chevron-right"></i> <a
                                id="template-ijm3gk">Community</a></li>
                        <li id="template-iwl1la"><i id="template-i2daf2" class="bx bx-chevron-right"></i> <a
                                id="template-i4gwhu">Register your product</a></li>
                        <li id="template-iwiuii"><i id="template-iclyrp" class="bx bx-chevron-right"></i> <a
                                id="template-ifg31j">Authorized service providers</a></li>
                        <li id="template-im59xl"><i id="template-imtnzx" class="bx bx-chevron-right"></i> <a
                                id="template-i9uzlw">Check repair status</a></li>
                        <li id="template-ie16nj"><i id="template-iyayjh" class="bx bx-chevron-right"></i> <a
                                id="template-i6dlkl">Training & certification</a></li>
                    </ul>
                </div>
                <div id="template-i5m027" class="col-lg-3 col-md-6 footer-links">
                    <h4 id="template-iehg75">Training & certification</h4>
                    <ul id="template-iok3au">
                        <li id="template-i9ulvr"><i id="template-iywo2s" class="bx bx-chevron-right"></i> <a
                                id="template-i6esbz">HP Partner First program</a></li>
                        <li id="template-i0h6hd"><i id="template-iprdeh" class="bx bx-chevron-right"></i> <a
                                id="template-ifm3zm">HP Partner Portal</a></li>
                        <li id="template-i1g6vf"><i id="template-i77txc" class="bx bx-chevron-right"></i> <a
                                id="template-irybu6">Developers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>