<h2 class="screen-align">create</h2>
<form>
    <div id="template-ih23" class="form-group">
        <label id="template-ibl9" class="label">Name</label>
        <input id="template-ih2j" class="input form-control" placeholder="Type here your name" [(ngModel)]="mano.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ixif" class="form-group">
        <label id="template-iz9y" class="label">Email</label>
        <input id="template-iacy" class="input form-control" placeholder="Type here your email" [(ngModel)]="mano.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i45h8" class="form-group">
        <button type="submit" id="template-ibrmv" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
