<h2 class="screen-align">craete</h2>
<form>
    <div id="template-i9fp" class="form-group">
        <label id="template-i5vh" class="label">Name</label>
        <input id="template-i44e" class="input form-control" placeholder="Type here your name" [(ngModel)]="staff.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i9g1" class="form-group">
        <label id="template-i9ge" class="label">Email</label>
        <input id="template-iy14" class="input form-control" placeholder="Type here your email" [(ngModel)]="staff.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ije1l" class="form-group">
        <button type="submit" id="template-i7ps1" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
