<h2 class="screen-align">createservice</h2>
<form>
    <div id="template-i2cb" class="form-group">
        <label id="template-i4ef" class="label">Name</label>
        <input id="template-ixly" class="input form-control" placeholder="Type here your name" [(ngModel)]="servicetypes.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ivni" class="form-group">
        <label id="template-iyig" class="label">Description</label>
        <input id="template-ih1i" class="input form-control" placeholder="Type here your email" [(ngModel)]="servicetypes.Description" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-icmm3" class="form-group">
        <button type="submit" id="template-ikig4" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
