* { box-sizing: border-box; } body {margin: 0;}.template-inkta{padding-top:10px;padding-right:2px;padding-left:2px;padding-bottom:10px;}.template-iv22n{padding-top:10px;padding-right:2px;padding-left:2px;padding-bottom:10px;}.template-i6ini{padding-top:10px;padding-right:2px;padding-left:2px;padding-bottom:10px;}.myGrid{width:auto;height:32%;}
.label {
    color: black !important;
    font-size: 15px;
}
