<h2 class="screen-align">create</h2>
<form>
    <div id="template-iieu" class="form-group">
        <label id="template-ih4s" class="label">Name</label>
        <input id="template-i53s" class="input form-control" placeholder="Type here your name" [(ngModel)]="student.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ilah" class="form-group">
        <label id="template-iwr4" class="label">Email</label>
        <input id="template-ih5s" class="input form-control" placeholder="Type here your email" [(ngModel)]="student.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iqq2c" class="form-group">
        <button type="submit" id="template-i62cn" (click)="GpCreate()" class="button btn btn-primary">Create</button>&nbsp;&nbsp;
    </div>

</form>
