<h2 class="screen-align">create</h2>
<form>
    <div id="template-iqwk" class="form-group">
        <label id="template-iokz" class="label">Name</label>
        <input id="template-iqxh" class="input form-control" placeholder="Type here your name" [(ngModel)]="studnets.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iom6" class="form-group">
        <label id="template-i5og" class="label">Email</label>
        <input id="template-iplk" class="input form-control" placeholder="Type here your email" [(ngModel)]="studnets.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-imj7m" class="form-group">
        <button type="submit" id="template-iqfho" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
