<section id="hero" class="d-flex align-items-center">
    <div id="template-igh5h" class="container">
        <div id="template-imkjg" class="row bannermar">
            <div id="template-i8p3v"
                class="col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1 id="template-ivb6g">Welcome to HP customer support</h1>
                <h2 id="template-ir2bi">how can we help ?</h2>
                <p id="template-izopx" class="bannerpar">Try asking our Virtual Agent</p>
                <div id="template-isjvq" class="d-lg-flex"><a class="chat-style" id="template-iy277">Chat Now</a></div>
            </div>
            <div id="template-i5sgk" class="col-lg-4 order-1 order-lg-2 hero-img"><img
                    src="assets/img/hero-img-red.png" alt="" id="template-ixxlj" class="img-fluid animated" /></div>
        </div>
    </div>
</section>
<main id="main">
    <section id="services" class="services section-bg">
        <div id="template-iaddt" class="container">
            <div id="template-iqx72" class="row">
                <div id="template-i9uvg" class="col-xl-4 col-md-4 d-flex align-items-stretch">
                    <div id="template-i0ml1" class="icon-box"><img src="assets/img/pen-drive.png" alt=""
                            id="template-iboop" class="img-fluid" />
                        <h4 id="template-ibh2h"><a id="template-iv69a">software and drivers</a></h4>
                    </div>
                </div>
                <div id="template-ike1c" class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0">
                    <div id="template-issss" class="icon-box"><img src="assets/img/printer.png" alt=""
                            id="template-i9aph" class="img-fluid" />
                        <h4 id="template-iey8c"><a id="template-i52qz">printer support</a></h4>
                    </div>
                </div>
                <div id="template-ibn2h" class="col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-xl-0">
                    <div id="template-im8zf" class="icon-box"><img src="assets/img/laptop.png" alt=""
                            id="template-i4i6o" class="img-fluid" />
                        <h4 id="template-ih84l"><a id="template-imizq">computer support</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div id="template-i0xph" class="container">
            <div id="template-i4huk" class="section-title">
                <h2 id="template-iscxv">More support resources</h2>
            </div>
            <div id="template-i4qcz" class="row content">
                <div id="template-i3ffo"
                    class="col-xl-3 col-md-6 d-flex align-items-stretch about-col about-pad hideabout">
                    <div id="template-i1x9h" class="about-box"><i id="template-iwyhr" class="icofont-badge"></i>
                        <p id="template-icobi">check warranty status</p>
                    </div>
                    <div id="template-ibz4x" class="about-box"><i id="template-idpbu" class="icofont-computer"></i>
                        <p id="template-i6wmm">use diagnostic tools to find and fix issues</p>
                    </div>
                    <div id="template-ikyi8" class="about-box"><i id="template-iyeug" class="icofont-support"></i>
                        <p id="template-io5pd">contact an HP agent for support</p>
                    </div>
                </div>
                <div id="template-itonu" class="col-xl-3 col-md-6 d-flex align-items-stretch about-pad hideabout">
                    <div id="template-ircmq" class="img-box"><img src="assets/img/design-red.png" alt=""
                            id="template-ixmbt" class="img-fluid" /></div>
                </div>
                <div id="template-idrdl" class="col-md-6 col-sm-12 col-xs-12 about-secpad">
                    <div id="template-iwos3"
                        class="col-xl-6 col-md-12 d-flex align-items-stretch about-col about-pad">
                        <div id="template-iskzj" class="about-secbox"><i id="template-idr9v"
                                class="icofont-brand-windows"></i>
                            <p id="template-i185q">Fix Windows 10 Update Issues</p>
                        </div>
                        <div id="template-iuym8" class="about-secbox"><i id="template-imjv5"
                                class="icofont-paper"></i>
                            <p id="template-inm3i">Register your product</p>
                        </div>
                    </div>
                    <div id="template-italw"
                        class="col-xl-6 col-md-12 d-flex align-items-stretch about-col about-pad">
                        <div id="template-ic3t2" class="about-secbox"><i id="template-ib3da"
                                class="icofont-users-social"></i>
                            <p id="template-iiiro">Ask the community</p>
                        </div>
                        <div id="template-ijf85" class="about-secbox"><i id="template-ipk0u"
                                class="icofont-video"></i>
                            <p id="template-iddpx">Watch a video</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>