<h2 class="screen-align">create</h2>
<form>
    <div id="template-iwrw" class="form-group">
        <label id="template-iheg" class="label">Name</label>
        <input id="template-i7cm" class="input form-control" placeholder="Type here your name" [(ngModel)]="students.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i8yj" class="form-group">
        <label id="template-i2i6" class="label">Email</label>
        <input id="template-i44i" class="input form-control" placeholder="Type here your email" [(ngModel)]="students.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iqhnm" class="form-group">
        <button type="submit" id="template-ink2d" (click)="GpCreate()" class="button btn btn-primary">GO</button>&nbsp;&nbsp;
    </div>

</form>
