* { box-sizing: border-box; } body {margin: 0;}.template-izy1k{padding-top:10px;padding-right:2px;padding-left:2px;padding-bottom:10px;}.template-iqvua{padding-top:10px;padding-right:2px;padding-left:2px;padding-bottom:10px;}
.label {
    color: black !important;
    font-size: 15px;
}
