<h2 class="screen-align">createticket</h2>
<form>
    <div id="template-i6f3" class="form-group">
        <label id="template-i3re" class="label">Name</label>
        <input id="template-i12d" class="input form-control" placeholder="Type here your name" [(ngModel)]="Tickets.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iube" class="form-group">
        <label id="template-i4py" class="label">Description</label>
        <input id="template-i949" class="input form-control" placeholder="Type here your email" [(ngModel)]="Tickets.Description" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i4xef" class="form-group">
        <label id="template-i4xef" class="label">Service type</label>
    </div>
    <div id="template-izy1k" class="">
        <ng-select class="" style="margin-top: -10px;" [searchable]="true" [virtualScroll]="true" class="template-ix0o6"
        name="dynamicdropdown_template-ix0o6" bindLabel="Name" bindValue="Name" [items]="servicetypesitemArray" [(ngModel)]="Tickets.Type"
         [ngModelOptions]="{standalone: true}" (click)="servicetypesGpGetAllValues()"></ng-select>
    </div>
    <div id="template-ia0u7" class="form-group">
        <label id="template-ia0u7" class="label">Severity</label>
    </div>
    <div id="template-iqvua" class="">
        <ng-select class="" style="margin-top: -10px;" [searchable]="true" [virtualScroll]="true" class="template-ivrvg"
        name="dynamicdropdown_template-ivrvg" bindLabel="Name" bindValue="Name" [items]="SeverityitemArray" [(ngModel)]="Tickets.Severity"
         [ngModelOptions]="{standalone: true}" (click)="SeverityGpGetAllValues()"></ng-select>
    </div>
    <div id="template-iatql" class="form-group">
        <button type="submit" id="template-imheh" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
