<h2 class="screen-align">create</h2>
<form>
    <div id="template-is6k" class="form-group">
        <label id="template-ip5f" class="label">Name</label>
        <input id="template-iz7a" class="input form-control" placeholder="Type here your name" [(ngModel)]="studnets.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i9sb" class="form-group">
        <label id="template-il5v" class="label">Email</label>
        <input id="template-i4vc" class="input form-control" placeholder="Type here your email" [(ngModel)]="studnets.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ii96g" class="form-group">
        <button type="submit" id="template-i5osj" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
