<h2 class="screen-align">createseverity</h2>
<form>
    <div id="template-itkk" class="form-group">
        <label id="template-ix1x" class="label">Name</label>
        <input id="template-iof5" class="input form-control" placeholder="Type here your name" [(ngModel)]="Severity.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ig0j" class="form-group">
        <label id="template-iucz" class="label">Description</label>
        <input id="template-i3pj" class="input form-control" placeholder="Type here your email" [(ngModel)]="Severity.Description" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-inzbb" class="form-group">
        <button type="submit" id="template-i8fxi" (click)="GpCreate()" class="button btn btn-primary">create</button>&nbsp;&nbsp;
    </div>

</form>
