<h2 class="screen-align">create</h2>
<form>
    <div id="template-i6gi" class="form-group">
        <label id="template-ivsr" class="label">Name</label>
        <input id="template-iaul" class="input form-control" placeholder="Type here your name" [(ngModel)]="list.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i9vx" class="form-group">
        <label id="template-i5ha" class="label">Email</label>
        <input id="template-imnr" class="input form-control" placeholder="Type here your email" [(ngModel)]="list.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iu87k" class="form-group">
        <button type="submit" id="template-ie3vk" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
