<h2 class="screen-align">go</h2>
<form>
    <div id="template-ioi3" class="form-group">
        <label id="template-icxc" class="label">Name</label>
        <input id="template-i5j5" class="input form-control" placeholder="Type here your name" [(ngModel)]="mano.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iy4x" class="form-group">
        <label id="template-ikwc" class="label">Email</label>
        <input id="template-i1q6" class="input form-control" placeholder="Type here your email" [(ngModel)]="mano.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i6l4y" class="form-group">
        <button type="submit" id="template-iiu9r" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
