<h2 class="screen-align">create</h2>
<form>
    <div id="template-i838" class="form-group">
        <label id="template-ieba" class="label">Name</label>
        <input id="template-isq3" class="input form-control" placeholder="Type here your name" [(ngModel)]="students.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i5kf" class="form-group">
        <label id="template-io6l" class="label">Email</label>
        <input id="template-i38z" class="input form-control" placeholder="Type here your email" [(ngModel)]="students.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-itbm7" class="form-group">
        <button type="submit" id="template-i9qw5" (click)="GpCreate()" class="button btn btn-primary">Create</button>&nbsp;&nbsp;
    </div>

</form>
