<h2 class="screen-align">create</h2>
<form>
    <div id="template-irkq" class="form-group">
        <label id="template-ites" class="label">Name</label>
        <input id="template-injp" class="input form-control" placeholder="Type here your name" [(ngModel)]="mano.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i47a" class="form-group">
        <label id="template-i05o" class="label">Email</label>
        <input id="template-il4i" class="input form-control" placeholder="Type here your email" [(ngModel)]="mano.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-i12m7" class="form-group">
        <button type="submit" id="template-i15i6" (click)="GpCreate()" class="button btn btn-primary">Craete</button>&nbsp;&nbsp;
    </div>

</form>
