<h2 class="screen-align">create</h2>
<form>
    <div id="template-izti" class="form-group">
        <label id="template-iuki" class="label">Name</label>
        <input id="template-iobj" class="input form-control" placeholder="Type here your name" [(ngModel)]="students.Name" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-ip2u" class="form-group">
        <label id="template-ifui" class="label">Email</label>
        <input id="template-ifc4" class="input form-control" placeholder="Type here your email" [(ngModel)]="students.Email" [ngModelOptions]="{standalone: true}" type="text">
    </div>
    <div id="template-iuidh" class="form-group">
        <button type="submit" id="template-icj45" (click)="GpCreate()" class="button btn btn-primary">Send</button>&nbsp;&nbsp;
    </div>

</form>
